[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
psycopg2-binary = "*"
faker = "*"
fastapi = {version = "*", extras = ["standard"]}
starlette = "*"
asyncpg = "*"

[dev-packages]

[requires]
python_version = "3.8"
